---
name: commit

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      COMPOSE_DOCKER_CLI_BUILD: 1
    steps:
      - uses: actions/checkout@v6
      - run: docker compose build --build-arg MAKEOPTS=-j2
      - run: docker compose up --exit-code-from gentoo
      - uses: actions/upload-artifact@v7
        with:
          name: outputs
          path: |
            kernel.tar.xz
            modules.tar.xz
            rootfs.tar.xz
            gentoo-liveusb.iso
